.page-nav{
    margin-top: 25px;
    height: 57px;
}
.logo-page{
    position: relative;
    margin-top:-14px;
    height: 40px;
    margin-left: 50px;
}
.page-menu{
    float: right;
    line-height: 50px;
    margin-right: 50px;
    font-family: 'Oleo Script', cursive;
    font-size: 25px;
    letter-spacing: 1px;
}

.page-head-bg{
    margin-top:-20px;
    height: 200px;
    background-attachment: fixed;
    background-size: 1420px 400px;
    background-repeat: no-repeat;
    border-radius: 25%;
    padding-left: 100px;
    padding-top: 100px;
}
.page-title {
    float: right;
    line-height: 0px;
    font-size: 72px;
    text-decoration: underline;
    font-family: 'Lobster',cursive;
    color: #cf4f0a;
}
.navbar ul li ul{
    list-style-type: none;
    text-decoration: none;
}
