.page-nav{
    margin-top: 25px;
    height: 57px;
}
.logo-page{
    position: relative;
    margin-top:-14px;
    height: 40px;
    margin-left: 50px;
}
.page-menu{
    float: right;
    line-height: 50px;
    margin-right: 50px;
    font-family: 'Oleo Script', cursive;
    font-size: 25px;
    letter-spacing: 1px;
}

.page-head-bg{
    margin-top:-20px;
    height: 200px;
    background-attachment: fixed;
    background-size: 1420px 400px;
    background-repeat: no-repeat;
    border-radius: 25%;
    padding-left: 100px;
    padding-top: 100px;
    z-index: -1;
}
.page-title {
    float: right;
    line-height: 0px;
    font-size: 72px;
    text-decoration: underline;
    font-family: 'Lobster',cursive;
    color: #cf4f0a;
}
.navbar ul ul {
    display: none;
    position: absolute;
    background-color: #cf4f0a;
    border-color: #ccc;
    border: 3px, solid;
}
.navbar ul li:hover ul{
    display: block;
    z-index: 1;
}
.navbar ul li ul{
    list-style-type: none;
    text-decoration: none;
    z-index: 1;
    font-size: 22px;
    float: left;
}
.navbar ul ul li{
    display: block;
}
.navbar ul li ul a{
    color #ccc;
    
}
.navbar ul li ul a:hover {
    color: black;
}
