<nav class="contact-nav navbar-fixed-top">
    <ul class="list-inline social-nav">
        <li><a href="https://www.facebook.com/helen.fosam"><i class="fa fa-facebook-square" aria-hidden="true"></i>
</a></li>
        <li><a href="https://twitter.com/theedgemedical"><i class="fa fa-twitter-square" aria-hidden="true"></i>
</a></li>
        <li><a href="https://www.linkedin.com/in/helenfosam"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
</a></li>
        <li><a class="push-right" href="" data-toggle="modal" data-target="#contact-modal-blog">Contact Me!</a></li>
    </ul>
</nav>
