<footer>
        <div id="wrap" class="container col-lg-12">
            <div class="container ">
                <div class="text-center wrap">
                    <h4><strong>The Edge Medical Writing</strong>
                    </h4>
                    <p class="footer-p">106 Compton Circle<br>Robbinsville NJ 08691</p>
                    <p class="footer-p">(609)-273-6019</p>
                    <ul class="list-unstyled">
                      
                        <li><a href="mailto:hfosam@theedgemedicalwriting.com" class="btn btn-raised btn-primary">Email Me!</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/theedge106/"><i class="fa fa-facebook-square fa-5x fa-color" aria-hidden="true"> </i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/theedgemedical"><i class="fa fa-twitter-square fa-5x fa-color" aria-hidden="true"></i>
</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/helenfosam"><i class="fa fa-linkedin-square fa-5x fa-color" aria-hidden="true"></i>
</a>
                        </li>
                    </ul>
                            <p class="text-muted text-center">Copyright &copy; The Edge Medical Writing 2016</p>
                                 <p class="text-muted text-center"> SFosam Design</p>


                </div>
                   
                
            </div>
        </div>
      

    </footer>
