<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include contact-nav-blog.html %}
{% include blog-header.html %}
    
    <div class="col-lg-10 col-lg-offset-1">
        {{content}}
    </div>
</body>
{% include footer.html %}
<div class="modal fade" id="contact-modal">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        
        </div>
        <div class="modal-body contact-info">
        
        </div>
        <div class="modal-body contact-form">
        
        </div>
        <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>

    </div>

</html>
