.modal-header{
  font-family:'Lobster',cursive;
  background-color: #4e4e4e;
  color: #ccc;
}
.modal-body{
  font-family:'Poiret One', cursive;
  background-color: #3a3a3a;
  color #fff;
}
.modal-footer{
  background-color: #3a3a3a;
}
