#wrap{
    background-color: #275DAD;
    height:100%;
    width:100%;
}

.fa-color{
    color: #cf4f0a;
}
.fa-color:hover{
    color:#ccc;
}
.wrap h4{
    font-family: 'Pacifico',cursive;
    color: #4e4e4e;
    font-size: 45px;
}
.footer-p{
    font-family: 'Quicksand', cursive;
    font-size: 22px;
    
}